$dark: #0D1B1E;
$light: #FEFFFE;
$green: #5FBB97;
$orange: #EA9010;
$red: #E53D00;

*,
body {
  margin: 0;
  border: 0;
}

body {
  background: $dark;
}

#loadingOverlay {
  width: 100svw;
  height: 100svh;
  z-index: 99;
  background: #fff;
}

.loading-screen {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100svw;
  height: 50svh;
  max-width: 100svw;
  overflow: hidden;
}

.loading-screen .big-screen {
  margin-top: 0;
  width: 100svw;
  height: 70svh;
  z-index: 1;
}

.loading-screen .screens {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 100svh;
  width: 100svw;
  z-index: 2;
}

.loading-screen div {
  overflow: hidden;
  width: 32vw;
  height: 80vh;
  margin: auto;
  background: $green;
  z-index: 3;

  video {
    aspect-ratio: 1/2;
    margin: auto;
    filter: greyscale(100%);
  }
}


.mood-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url('grain/5970.jpg');
  background-size: cover;
  filter: grayscale(100%);
  opacity: 0.15;
  z-index: 5;
}

.sub {
  position: fixed;
  width: 30svw;
  height: 5svh;
  bottom: 95svh;
  left: 35svw;
  z-index: 4;
  background: #fff;

}

.hide {
  display: none;
}

p {
  text-align: center;
  font-size: 1rem;
}

.warning {
  position: fixed;
  width: 100svw;
  height: 100svh;
  bottom: 0;
  top: 90svh;
  z-index: 6;
  background: #121212;
  color: $light;

}

.pitch {
  width: 100svw;
  height: 80svh;
  background: #252524;
  font-family: sans-serif;
  text-rendering: geometricPrecision;

  h1 {
    text-align: left;
    font-weight: 300;
    font-size: 2.6rem;
    letter-spacing: -2.9px;
    padding: 1rem;
    margin-bottom: 3svh;
  }

  p {

    text-align: left;
    font-size: 1rem;
    letter-spacing: .3px;
    font-weight: 200;
    padding-top: .3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.button {
  margin: 1.5rem;
  color: #121212;
  padding: 1rem;
  border: none;
  border-bottom-right-radius: 4rem;
  background: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.author {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100svw;
  height: 20svh;
  background: $light;

  p {
    color: #121212;
    padding: 2rem;
  }

  a {
    background: #121212;
    color: #fff;
    width: auto;
  }
}

@media (min-width: 668px) {
  .pitch {
    h1 {
      margin-bottom: 10svh;
    }

    p {
      line-height: 2.5rem;
      font-size: 2.4rem;
    }
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;
}

.loader:before {
  content: "Loading..."
}

@keyframes l5 {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}
