$dark: #0D1B1E;
$light: #FEFFFE;
$green: #5FBB97;
$orange: #EA9010;
$red: #E53D00;

*,
body {
  margin: 0;
  border: 0;
}

body {
  background: $dark;
}

.loading-screen {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100svw;
  height: 50svh;
  max-width: 100svw;
  overflow: hidden;
}

.loading-screen .big-screen {
  margin-top: 0;
  width: 100svw;
  height: 70svh;
  z-index: 1;
}

.loading-screen .screens {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 100svh;
  width: 100svw;
  z-index: 2;
}

.loading-screen div {
  overflow: hidden;
  width: 32vw;
  height: 60vh;
  background: $green;
  z-index: 3;

  video {
    aspect-ratio: 1/2;
    margin: auto;
    filter: sepia(1);
  }
}


.mood-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url('grain/5970.jpg');
  background-size: cover;
  opacity: 0.15;
  z-index: 5;
}

.warning {
  position: fixed;
  width: 100svw;
  height: 10svh;
  bottom: 0;
  z-index: 6;
  background: $dark;
  color: $light;

  p {
    padding: 1em;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}
